.experience-container {
  background-color: #000000;
  color: #FFFFFF;
  padding: 40px;
  border-radius: 8px;
  max-width: 600px;
  margin: 70px auto;
  box-shadow: 
    20px 19px 20px rgba(158, 60, 11, 0.5),   
    -5px -5px 20px rgba(148, 158, 11, 0.5),   
    7px -7px 20px rgba(107, 158, 11, 0.5); 
}

.experience-title {
  color: #7CC63E;
  font-size: 24px;
}

.experience-date {
  font-size: 18px;
  margin: 5px 0;
}

.experience-position {
  font-size: 20px;
  margin: 10px 0;
}

.experience-list {
  padding: 0;
  list-style-type: none;
}

.experience-list-item {
  font-size: 16px;
  margin: 10px 0;
}
